html body {
  	font-size: 12px;
}

@media (min-width: 768px) {
  	html body {
    	font-size: 14px;
  	}
}

@media (min-width: 992px) {
  	html body {
    	font-size: 16px;
  	}
}

body h1, body h2, body h3, body h4, body h5, body h6 {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

body .container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	z-index: -1;
}

.loading-screen {
	position: absolute;
	height: 100%;
	width: 100%;
	background: white;
	z-index: 100;
	top: 0;
	line-height: 100%;
	padding-top: 20%;
}

.top {
	height: 33%;
}

.middle {
	height: 33%;
}

.bottom {
	height: 33%;
}

.separator {
	height: 0.5%;
}

.carousel {
	height: 100%;
	width: 100%;
	float: left;
	-webkit-transition: all 800ms 300ms ease;
	-moz-transition: all 800ms 300ms ease;
	-ms-transition: all 800ms 300ms ease;
	-o-transition: all 800ms 300ms ease;
	transition: all 800ms 300ms ease;
}

.carousel .carousel-inner {
	height: 100%;
	width: 100%;
}

.carousel .carousel-inner .item {
	height: 100%;
	width: 100%;
	-webkit-background-size: cover; /* For WebKit*/
  	-moz-background-size: cover;    /* Mozilla*/
  	-o-background-size: cover;      /* Opera*/
  	background-size: cover;         /* Generic*/
}

.content {
	float: left;
	-webkit-transition: all 800ms 300ms ease;
	-moz-transition: all 800ms 300ms ease;
	-ms-transition: all 800ms 300ms ease;
	-o-transition: all 800ms 300ms ease;
	transition: all 800ms 300ms ease;
	max-height: 100%;
}

.logo {
	position: absolute;
	top: 20px;
	left: 24px;
	color: white;
	font-size: 36px;
	z-index: 1;
	font-weight: 600;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.logo:hover, .logo:focus {
	cursor: default;
	color: white;
	text-decoration: none;
}

.black-logo, .black-logo:hover, .black-logo:focus {
	color: black;
}

#top-carousel {
	width: 80%;
}

.top-content {
	width: 20%;
	text-align: center;
	padding-top: 20px;
}

.top-menu {
	width: 0%;
	overflow: hidden;
	font-size: 1.5em;
}

.links {
	opacity: 0;
	list-style-type: none;
	padding: 5em 5em 0 5em;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.links li {
	margin: 0px 20px 10px 20px;
	cursor: default;
	color: black;
}

@media (min-width: 768px) {
	.links li {
  	display: inline-block;
	}
}

.links li a {
	color: black;
	cursor: default;
}

.underline {
	text-decoration: underline;
}

.visible-links {
	opacity: 1;
	-webkit-transition: all 500ms 800ms ease;
	-moz-transition: all 500ms 800ms ease;
	-ms-transition: all 500ms 800ms ease;
	-o-transition: all 500ms 800ms ease;
	transition: all 500ms 800ms ease;
}

.mask {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 66.5%;
	width: 0%;
	z-index: 20;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.open-menu {
	width: 80%;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

@media (min-width: 768px) {
  	.open-menu {
		width: 90%;
	}
}

.close-carousel {
	width: 0% !important;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.open-mask {
	width: 100%;
}

@media (min-width: 768px) {
  #top-carousel {
		width: 90%;
	}
	.top-content {
		width: 10%;
	}
}

#middle-carousel {
	width: 0%;
	float: right;
}

.middle-content {
	width: 100%;
	padding: 20px 30px 20px 30px;
}

@media (min-width: 768px) {
  #middle-carousel {
		width: 63%;
	}
	.middle-content {
		width: 37%;
	}
}

.middle-content a {
	display: inline-block;
	margin-top: 8px;
	margin-right: 12px;
}

.middle-content a i {
	font-size: 24px;
	color: #707070;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	cursor: pointer;
}

.middle-content a i:hover {
	color: black;
}

.top1 {
  	background: url(images/castleroof.png) no-repeat center center;
}

.top2 {
	background: url(images/sanfran.png) no-repeat center center fixed;
}

.top3 {
	background: url(images/rockpath.png) no-repeat center center;
}

.middle1 {
	background: url(images/victoriagarden.png) no-repeat center center;
}

.middle2 {
	background: url(images/sanfran.png) no-repeat center center fixed;
}

.middle3 {
	background: url(images/rocksit.png) no-repeat center center;
}

.bottom1 {
	background: url(images/pillargarden.png) no-repeat center center;
}

.bottom2 {
	background: url(images/sanfran.png) no-repeat center center fixed;
}

.bottom3 {
	background: url(images/rockwaterfall.png) no-repeat center center;
}

.footer {
	position: absolute;
	right: 20px;
	bottom: 10px;
	color: white;
	font-size: 16px;
}

.static-menu {
	width: 100%;
}

.static-menu .links {
	opacity: 1;
}



/* Menu icon */

.menu-btn {
	color: #505050;
}

#nav-icon1 {
  	width: 32px;
  	height: 32px;
  	position: relative;
  	margin: 10px auto;
  	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
  	transform: rotate(0deg);
  	-webkit-transition: .5s ease-in-out;
  	-moz-transition: .5s ease-in-out;
  	-o-transition: .5s ease-in-out;
  	transition: .5s ease-in-out;
}

#nav-icon1:hover span {
	background: black;
}

#nav-icon1 span {
  	display: block;
  	position: absolute;
  	height: 5px;
  	width: 100%;
  	background: #707070;
  	border-radius: 9px;
  	opacity: 1;
  	left: 0;
  	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
  	transform: rotate(0deg);
  	-webkit-transition: .5s ease-in-out;
  	-moz-transition: .5s ease-in-out;
  	-o-transition: .5s ease-in-out;
  	transition: .5s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  	top: 0px;
}

#nav-icon1 span:nth-child(2) {
  	top: 12px;
}

#nav-icon1 span:nth-child(3) {
  	top: 24px;
}

#nav-icon1.open span:nth-child(1) {
  	top: 18px;
  	-webkit-transform: rotate(135deg);
  	-moz-transform: rotate(135deg);
  	-o-transform: rotate(135deg);
  	transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  	opacity: 0;
  	left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  	top: 18px;
  	-webkit-transform: rotate(-135deg);
  	-moz-transform: rotate(-135deg);
  	-o-transform: rotate(-135deg);
  	transform: rotate(-135deg);
}



/* Loading indicator */

.spinner {
  width: 50px;
  height: 50px;
  background-color: #333;

  margin: auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
