html body {
  	font-size: 12px;
}

@media (min-width: 768px) {
  	html body {
    	font-size: 14px;
  	}
}

@media (min-width: 992px) {
  	html body {
    	font-size: 16px;
  	}
}

body h1, body h2, body h3, body h4, body h5, body h6 {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body .container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: -1;
	font-family: 'Josefin Sans', sans-serif;
	overflow: hidden;
}

.loading-screen {
	position: absolute;
	height: 100%;
	width: 100%;
	background: white;
	z-index: 100;
	top: 0;
	line-height: 100%;
	padding-top: 30vh;
}

.loading-text {
	margin-top: 1em;
	font-size: 2em;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

.top {
	height: 33%;
}

.middle {
	height: 33%;
}

.bottom {
	height: 33%;
}

.separator {
	height: 0.5%;
}

.carousel {
	height: 100%;
	width: 100%;
	float: left;
	-webkit-transition: all 800ms 300ms ease;
	-moz-transition: all 800ms 300ms ease;
	-ms-transition: all 800ms 300ms ease;
	-o-transition: all 800ms 300ms ease;
	transition: all 800ms 300ms ease;
}

.closed-carousel {
	width: 0% !important;
}

.carousel .carousel-inner {
	height: 100%;
	width: 100%;
}

.carousel .carousel-inner .item {
	height: 100%;
	width: 100%;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}

.content {
	float: left;
	-webkit-transition: all 800ms 300ms ease;
	-moz-transition: all 800ms 300ms ease;
	-ms-transition: all 800ms 300ms ease;
	-o-transition: all 800ms 300ms ease;
	transition: all 800ms 300ms ease;
	max-height: 100%;
}

.logo {
	position: absolute;
	top: 20px;
	left: 24px;
	color: white;
	font-size: 36px;
	z-index: 1;
	font-weight: 600;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.logo:hover, .logo:focus {
	cursor: default;
	color: white;
	text-decoration: none;
}

.black-logo, .black-logo:hover, .black-logo:focus {
	color: black;
}

#top-carousel {
	width: 80%;
}

.top-content {
	width: 20%;
	text-align: center;
	padding-top: 20px;
}

.top-menu {
	width: 0%;
	overflow: hidden;
	font-size: 1.5em;
}

.links {
	opacity: 0;
	list-style-type: none;
	padding: 2em 1em 0 5em;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.links li {
	margin: 0px 20px 10px 20px;
	cursor: default;
	color: black;
}

@media (min-width: 768px) {
	.links {
		padding-top: 5em;
	}
	.links li {
  	display: inline-block;
	}
}

.links li a {
	color: black;
	cursor: default;
}

.highlight {
	color: #BF380B !important;
}

.visible-links {
	opacity: 1;
	-webkit-transition: all 500ms 800ms ease;
	-moz-transition: all 500ms 800ms ease;
	-ms-transition: all 500ms 800ms ease;
	-o-transition: all 500ms 800ms ease;
	transition: all 500ms 800ms ease;
}

.mask {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 66.5%;
	width: 0%;
	z-index: 20;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.open-menu {
	width: 80%;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

@media (min-width: 768px) {
  	.open-menu {
		width: 90%;
	}
}

.close-carousel {
	width: 0% !important;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.open-mask {
	width: 100%;
}

@media (min-width: 768px) {
  #top-carousel {
		width: 90%;
	}
	.top-content {
		width: 10%;
	}
}

#middle-carousel {
	width: 0%;
	float: right;
}

.middle-content {
	width: 100%;
	padding: 20px 30px 20px 30px;
}

@media (min-width: 768px) {
  #middle-carousel {
		width: 63%;
	}
	.middle-content {
		width: 37%;
	}
}

.middle-content a {
	display: inline-block;
	margin-top: 8px;
	margin-right: 12px;
}

.middle-content a i {
	font-size: 24px;
	color: #707070;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	cursor: pointer;
}

.middle-content a i:hover {
	color: black;
}

.top1 {
	background: url(images/castleroof.png) no-repeat center center;
}

.top2 {
	background: url(images/sanfran.png) no-repeat center center fixed;
}

.top3 {
	background: url(images/rockpath.png) no-repeat center center;
}

.middle1 {
	background: url(images/victoriagarden.png) no-repeat center center;
}

.middle2 {
	background: url(images/sanfran.png) no-repeat center center fixed;
}

.middle3 {
	background: url(images/rocksit.png) no-repeat center center;
}

.bottom1 {
	background: url(images/pillargarden.png) no-repeat center center;
}

.bottom2 {
	background: url(images/sanfran.png) no-repeat center center fixed;
}

.bottom3 {
	background: url(images/rockwaterfall.png) no-repeat center center;
}

.footer {
	position: absolute;
	right: 20px;
	bottom: 10px;
	color: white;
	font-size: 16px;
}

.static-menu {
	width: 100%;
}

.static-menu .links {
	opacity: 1;
}

.flexible-container {
	min-height: 100%;
	width: 100%;
	font-family: 'Josefin Sans', sans-serif;
}

.big-border {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	height: 250%;
	margin-bottom: 20px;
	border: 24px solid #E0E0E0;
}

@media (min-width: 768px) {
	.big-border {
		height: 180%;
	}
}

.transparent-logo {
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	color: white;
	font-size: 2.3em;
	padding: 12px 0 3px 12px;
	width: 70px;
	position: absolute;
	z-index: 1;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	cursor: default;
}

.transparent-logo-full-width {
	width: 100%;
}

.transparent-menu {
	position: absolute;
	z-index: 1;
	width: 80%;
	padding-right: 1em;
	height: 60px;
	top: 0;
	right: 0;
}

.horizontal-links {
	list-style-type: none;
	font-size: 1.4em;
	text-align: right;
}

.horizontal-links li {
	padding: 1em 0.5em 0 0;
	color: white;
	display: inline-block;
	opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.horizontal-links-visible {
	opacity: 1 !important;
}

.horizontal-links li a {
	color: white;
	cursor: default;
}

.about-image {
	position: absolute;
	background: url(images/twerk.png) no-repeat center center;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}

.about-image-mask {
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	height: 100%;
	width: 100%;
}

.about-image-caption {
	position: absolute;
	font-family: 'Galada', cursive;
	color: #E0E0E0;
	font-size: 5.5em;
	font-weight: 600;
	text-align: center;
	padding: 3em 1em 0 1em;
	width: 100%;
}

.about-content {
	position: absolute;
	top: 70%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 100%;
}

.about-content-info {
	width: 100%;
	float: left;
	background: #BF380B;
	padding: 25px;
	height: 50%;
}

.about-content-info-inner {
	border: 2px dotted #0bbfbf;
	height: 100%;
	width: 100%;
	padding: 25px;
	color: #E0E0E0;
	font-size: 1.5em;
	display: table;
	overflow: hidden;
}

.about-content-info-inner-text {
	display: table-cell;
	vertical-align: middle;
}

.about-content-image {
	width: 100%;
	height: 100%;
	float: left;
	background: url(images/bigdoor.png) no-repeat center center;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}

.quote {
	font-size: 2em;
	font-style: italic;
	position: absolute;
	top: 225%;
	width: 75%;
	left: 0;
	right: 0;
	margin: auto;
}

.quote span {
	float: right;
}

@media (min-width: 768px) {
	.about-content {
		width: 85%;
	}
	.about-content-info {
		height: 60%;
	}
	.about-content-info, .about-content-image {
  	width: 50%;
	}
	.quote {
		left: 100px;
  	top: 135%;
  	width: 34%;
  	margin: 0;
	}
}

@media (min-width: 900px) {
	.about-content {
		width: 80%;
	}
}

@media (min-width: 992px) {
	.about-content {
		width: 75%;
	}
}

@media (min-width: 1100px) {
	.about-content {
		width: 70%;
	}
}

@media (min-width: 1200px) {
	.about-content {
		width: 65%;
	}
}

.experience-content {
	text-align: center;
}

.diamond {
	position: absolute;
	width: 136px;
	height: 136px;
	background: #1eff00;
	/* Rotate */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	/* Rotate Origin */
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
	top: 12vh;
	left: 98px;
	right: -38px;
	margin: 0 auto;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.diamond::before {
	content: "";
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	margin-left: -100px;
	margin-top: -100px;
	background: inherit;
	/* Rotate */
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.diamond::after {
	content: "";
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	/* Rotate */
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	color: white;
	padding: 0 30px 0 30px;
	white-space: pre;
}

.diamond:hover::after {
	background: rgba(0,0,0,0.7);
}

#creditsuisse {
	background: url(images/creditsuisse.png) no-repeat center center;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}

#creditsuisse:hover::after {
	content: "2016 \A Technology Investment \A Banking Summer \A Analyst";
	padding-top: 60px;
}

#legalpad {
	margin-top: 100px;
	left: -100px;
	background: url(images/legalpad.png) no-repeat center center;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}

#legalpad:hover::after {
	content: "2015 \A Strategy Consultant";
	padding-top: 70px;
}

#worldbank {
	margin-top: 100px;
	right: -243px;
	background: url(images/worldbank.png) no-repeat center center;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}

#worldbank:hover::after {
	content: "2015 \A Winter Extern";
	padding-top: 70px;
}

#personal {
	margin-top: 201px;
	background: url(images/personal.png) no-repeat center center;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}

#personal:hover::after {
	content: "Interested in finance \A and technology";
	padding-top: 80px;
}

#medium {
	margin-top: 302px;
	left: -100px;
	background: url(images/medium.png) no-repeat center center;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}

#medium:hover::after {
	content: "2014 \A Strategy Consultant";
	padding-top: 70px;
}

#architect {
	margin-top: 302px;
	right: -243px;
	background: url(images/architect.png) no-repeat center center;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}

#architect:hover::after {
	content: "2014 \A Investment Banking \A Fall Analyst";
	padding-top: 65px;
}

#flex {
	margin-top: 403px;
	background: url(images/flex.png) no-repeat center center;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}

#flex:hover::after {
	content: "2014 \A Business Analyst Intern";
	padding-top: 70px;
}

#watercolor-background {
	background: url(images/watercolor.png) no-repeat center center;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}


/* Menu icon */

.menu-btn {
	color: #505050;
}

#nav-icon1 {
	width: 32px;
	height: 32px;
	position: relative;
	margin: 10px auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#nav-icon1:hover span {
	background: black;
}

#nav-icon1 span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #707070;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  	top: 0px;
}

#nav-icon1 span:nth-child(2) {
  	top: 12px;
}

#nav-icon1 span:nth-child(3) {
  	top: 24px;
}

#nav-icon1.open span:nth-child(1) {
	top: 18px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

#nav-icon1.open span:nth-child(3) {
	top: 18px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}



/* Loader */

.loader {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #262626;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  margin: 0 auto;
  width: 110px;
}

svg {
  margin: 0 auto;
  overflow: hidden;
}

#wave {
  stroke-dasharray: 0 16 101 16;
  -webkit-animation: moveTheWave 2400ms linear infinite;
          animation: moveTheWave 2400ms linear infinite;
}

@-webkit-keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
}

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
}