html body {
  	font-size: 12px;
}

@media (min-width: 768px) {
  	html body {
    	font-size: 14px;
  	}
}

@media (min-width: 992px) {
  	html body {
    	font-size: 16px;
  	}
}

body h1, body h2, body h3, body h4, body h5, body h6 {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body .container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
  	font-family: 'Josefin Sans', sans-serif;
  	z-index: -1;
}

.top {
	height: 33%;
}

.middle {
	height: 33%;
}

.bottom {
	height: 33%;
}

.separator {
	height: 0.5%;
}

.carousel {
	height: 100%;
	width: 100%;
	float: left;
	-webkit-transition: all 750ms ease;
	-moz-transition: all 750ms ease;
	-ms-transition: all 750ms ease;
	-o-transition: all 750ms ease;
	transition: all 750ms ease;
}

.carousel .carousel-inner {
	height: 100%;
	width: 100%;
}

.carousel .carousel-inner .item {
	height: 100%;
	width: 100%;
	-webkit-background-size: cover; /* For WebKit*/
  	-moz-background-size: cover;    /* Mozilla*/
  	-o-background-size: cover;      /* Opera*/
  	background-size: cover;         /* Generic*/
}

.content {
	float: left;
	-webkit-transition: all 750ms ease;
	-moz-transition: all 750ms ease;
	-ms-transition: all 750ms ease;
	-o-transition: all 750ms ease;
	transition: all 750ms ease;
}

#top-carousel {
	width: 80%;
}

.top-content {
	width: 20%;
	text-align: center;
	padding-top: 20px;
}

.top-menu {
	width: 0%;
	overflow: hidden;
}

.menu-contents {
	padding: 30px;
}

.mask {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 66.5%;
	width: 0%;
	z-index: 20;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 750ms ease;
	-moz-transition: all 750ms ease;
	-ms-transition: all 750ms ease;
	-o-transition: all 750ms ease;
	transition: all 750ms ease;
}

.open-menu {
	width: 80% !important;
}

@media (min-width: 768px) {
  	.open-menu {
		width: 90% !important;
	}
}

.close-carousel {
	width: 0% !important;
}

.open-mask {
	width: 100% !important;
}

@media (min-width: 768px) {
  	#top-carousel {
		width: 90%;
	}
	.top-content {
		width: 10%;
	}
}

#middle-carousel {
	width: 0%;
}

.middle-content {
	width: 100%;
	padding: 20px 30px 20px 30px;
}

@media (min-width: 768px) {
  	#middle-carousel {
		width: 63%;
	}
	.middle-content {
		width: 37%;
	}
}

.middle-content a {
	display: inline-block;
	margin-top: 8px;
	margin-right: 12px;
}

.middle-content a i {
	font-size: 24px;
	color: #707070;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	cursor: pointer;
}

.middle-content a i:hover {
	color: black;
}

.top1 {
  	background: url(castleroof.png) no-repeat center center;
}

.top2 {
	background: url(sanfran.png) no-repeat center center fixed;
}

.top3 {
	background: url(rockpath.png) no-repeat center center;
}

.middle1 {
	background: url(victoriagarden.png) no-repeat center center;
}

.middle2 {
	background: url(sanfran.png) no-repeat center center fixed;
}

.middle3 {
	background: url(rocksit.png) no-repeat center center;
}

.bottom1 {
	background: url(pillargarden.png) no-repeat center center;
}

.bottom2 {
	background: url(sanfran.png) no-repeat center center fixed;
}

.bottom3 {
	background: url(rockwaterfall.png) no-repeat center center;
}



/* Menu icon */

.menu-btn {
	color: #505050;
}

#nav-icon1 {
  	width: 32px;
  	height: 32px;
  	position: relative;
  	margin: 10px auto;
  	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
  	transform: rotate(0deg);
  	-webkit-transition: .5s ease-in-out;
  	-moz-transition: .5s ease-in-out;
  	-o-transition: .5s ease-in-out;
  	transition: .5s ease-in-out;
}

#nav-icon1:hover span {
	background: black;
}

#nav-icon1 span {
  	display: block;
  	position: absolute;
  	height: 5px;
  	width: 100%;
  	background: #707070;
  	border-radius: 9px;
  	opacity: 1;
  	left: 0;
  	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
  	transform: rotate(0deg);
  	-webkit-transition: .5s ease-in-out;
  	-moz-transition: .5s ease-in-out;
  	-o-transition: .5s ease-in-out;
  	transition: .5s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  	top: 0px;
}

#nav-icon1 span:nth-child(2) {
  	top: 12px;
}

#nav-icon1 span:nth-child(3) {
  	top: 24px;
}

#nav-icon1.open span:nth-child(1) {
  	top: 18px;
  	-webkit-transform: rotate(135deg);
  	-moz-transform: rotate(135deg);
  	-o-transform: rotate(135deg);
  	transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  	opacity: 0;
  	left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  	top: 18px;
  	-webkit-transform: rotate(-135deg);
  	-moz-transform: rotate(-135deg);
  	-o-transform: rotate(-135deg);
  	transform: rotate(-135deg);
}

